/* You can add global styles to this file, and also import other style files */

.debug {
  outline: 2px solid red;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}
